
nav{
margin:20px 0px;
padding-right:70px;
padding:20px 0px;
background:#0000CD;
text-align: center;
}

nav a {
text-decoration:none;
padding:1px;
color:white;
}

.textpocentrybl {
  text-align: center;
}

.dashed {
border: 10px dashed black;   
} 

.solid{
border:10px solid black;   
}

.dotted {
border: 10px dotted black;   
}
